@import url("https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@400;500;700&display=swap");

@import "tailwindcss";

@theme {
  /* colors */

  --color-dark-pink: oklch(0.75 0.12 25);
  --color-light-pink: oklch(0.95 0.03 10);
  --color-medium-pink: oklch(0.91 0.04 20);
  --color-very-light-pink: oklch(0.97 0.015 40);
  --color-light-gray: oklch(0.9588 0.0086 247.92);
  --color-medium-gray: oklch(0.619 0.044 286);
  --color-dark-brown: oklch(0.35 0.05 25);
  --color-dark-gray: oklch(0.2757 0.0128 285.53);
  --color-ice-blue: oklch(0.9698 0.0083 236.56);
  --color-dirty-pink: oklch(0.7242 0.0659 30.82);
  --color-warm-white: oklch(0.9903 0.0058 59.65);
  --color-medium-brown: oklch(0.5864 0.1192 51.03);
  --color-deep-gray: #212121;
  --color-secondary-bg-gray: #303030;
  --color-luxera-menu-bg: #181818;
  --color-luxera-menu-bg-hover: #ffffff1a;

  /* fonts */

  --font-FRL: "Frank Ruhl Libre", arial;
  --font-Inknut-Antiqua: "Inknut Antiqua", arial;
  --font-Manrope: "Manrope", arial;

  /* break-points */

  --breakpoint-xs: 30rem;
}

/* Remove number input arrows for Chrome, Safari, Edge */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scrollbar-hidden {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Remove number input arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  max-width: 1920px;
  margin-inline: auto;
}

input {
  @apply outline-none border-none;
}

.container {
  @apply mx-auto max-w-[1440px];
}

button {
  outline: 2px solid red;
}

.hover-transition {
  @apply transition-all duration-200;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none !important;
  content: none !important;
}

.swiper-pagination-bullets {
  @apply !mt-11;
}

.swiper-pagination-bullet-active {
  @apply scale-125 !bg-black;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #4ade80; /* green color */
  opacity: 1; /* override default opacity */
  margin: 0 6px !important; /* adjust left/right margin */
  border-radius: 50%;
}
.swiper-pagination {
  bottom: -5px !important; /* Increase this value as needed */
  overflow: visible !important;
}

@layer components {
  .dropdown-animation {
    @apply transition-all duration-200;
  }

  .dropdown-open {
    @apply scale-y-100 origin-top max-h-fit;
  }

  .dropdown-closed {
    @apply scale-y-0 origin-top pointer-events-none max-h-0;
  }
}

@layer utilities {
  @media (max-width: 768px) {
    .card-container .card:nth-of-type(n + 7) {
      display: none;
    }
  }
  @media (min-width: 768px) {
    .card-container .card:nth-of-type(n + 15) {
      display: none;
    }
  }

  @media (min-width: 1920px) {
    .card-container .card:nth-of-type(n + 15) {
      display: none;
    }
  }
}
